:root {
	--color-froto-red: rgba(253,74,92,1);
	--color-froto-yellow: rgba(255,214,55,1);
	--color-froto-wisp: rgba(50,252,190,1);
	--color-froto-mouve: rgba(160,153,255,1);
	--color-froto-orange: rgba(255,151,57,1);
	--color-froto-purple: rgba(168,77,255,1);
	--color-dark-blue: rgba(0,42,105,1);

}

body {
    font-size: 16px;
    font-family: 'Be Vietnam Pro', sans-serif !important;
    letter-spacing: -0.10em;
    text-rendering: optimizeLegibility;
  }
  
  h1 {
    font-weight: bold !important;
    color: navy;
  }
  p {
      font-weight: normal !important;
  }
  .button, .nav-item {
    font-weight: normal;
    letter-spacing: -0.15rem;
  }
  .stroke {
      stroke: var(--blue);
  }